<div class="jumbotron text-center">
  <h1 class="display-4">MEAN AUTHENTICATION APP</h1>
  <p class="lead">This is my MEAN authentication app! I sure do hope I know what I'm doing!</p>
  <hr class="my-4">
  <p>These buttons should take you somewhere.</p>
  <div>
    <button class="btn btn-primary" type="button" [routerLink]="['/register']">Register</button>
    <button class="btn btn-primary" type="button" [routerLink]="['/login']">Login</button>
  </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h3>Express Backend</h3>
        <p>A rock solid whatever whatever as long as it works I'm cool</p>
    </div>
    <div class="col-md-4">
        <h3>Angular-CLI</h3>
        <p>This was pretty neat to learn, I guess if I do more frontend funtimes that would be the way to go?</p>
    </div>
    <div class="col-md-4">
        <h3>JWT Tokens</h3>
        <p>Still not completely sure how these work, especially because the tutorial differs pretty hard from the most recent version of Passport but I'll deal.</p>
    </div>
</div>